<!DOCTYPE html
>
<html class="js no-touch progressive-image no-reduced-motion no-edge no-ie css-mask enhanced-xp desktop no-tablet no-windows no-android no-retina no-safari macos no-old-safari chrome no-firefox no-iphone no-ipad no-old-macos" data-layout-name="b7cc" lang="en-US" prefix="og: http://ogp.me/ns#" style="scroll-behavior: auto;" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml"
><head
>
<meta charset="utf-8"/
>
<link href="https://www.apple.com/" rel="canonical"/
>
<link href="https://www.apple.com/" hreflang="en-US" rel="alternate"/
><link href="https://www.apple.com/ae-ar/" hreflang="ar-AE" rel="alternate"/
><link href="https://www.apple.com/ae/" hreflang="en-AE" rel="alternate"/
><link href="https://www.apple.com/am/" hreflang="en-AM" rel="alternate"/
><link href="https://www.apple.com/at/" hreflang="de-AT" rel="alternate"/
><link href="https://www.apple.com/au/" hreflang="en-AU" rel="alternate"/
><link href="https://www.apple.com/az/" hreflang="en-AZ" rel="alternate"/
><link href="https://www.apple.com/befr/" hreflang="fr-BE" rel="alternate"/
><link href="https://www.apple.com/benl/" hreflang="nl-BE" rel="alternate"/
><link href="https://www.apple.com/bg/" hreflang="bg-BG" rel="alternate"/
><link href="https://www.apple.com/bh-ar/" hreflang="ar-BH" rel="alternate"/
><link href="https://www.apple.com/bh/" hreflang="en-BH" rel="alternate"/
><link href="https://www.apple.com/br/" hreflang="pt-BR" rel="alternate"/
><link href="https://www.apple.com/bw/" hreflang="en-BW" rel="alternate"/
><link href="https://www.apple.com/ca/" hreflang="en-CA" rel="alternate"/
><link href="https://www.apple.com/ca/fr/" hreflang="fr-CA" rel="alternate"/
><link href="https://www.apple.com/cf/" hreflang="fr-CF" rel="alternate"/
><link href="https://www.apple.com/chde/" hreflang="de-CH" rel="alternate"/
><link href="https://www.apple.com/chfr/" hreflang="fr-CH" rel="alternate"/
><link href="https://www.apple.com/ci/" hreflang="fr-CI" rel="alternate"/
><link href="https://www.apple.com/cl/" hreflang="es-CL" rel="alternate"/
><link href="https://www.apple.com/cm/" hreflang="fr-CM" rel="alternate"/
><link href="https://www.apple.com/co/" hreflang="es-CO" rel="alternate"/
><link href="https://www.apple.com/cz/" hreflang="cs-CZ" rel="alternate"/
><link href="https://www.apple.com/de/" hreflang="de-DE" rel="alternate"/
><link href="https://www.apple.com/dk/" hreflang="da-DK" rel="alternate"/
><link href="https://www.apple.com/ee/" hreflang="et-EE" rel="alternate"/
><link href="https://www.apple.com/eg-ar/" hreflang="ar-EG" rel="alternate"/
><link href="https://www.apple.com/eg/" hreflang="en-EG" rel="alternate"/
><link href="https://www.apple.com/es/" hreflang="es-ES" rel="alternate"/
><link href="https://www.apple.com/fi/" hreflang="fi-FI" rel="alternate"/
><link href="https://www.apple.com/fr/" hreflang="fr-FR" rel="alternate"/
><link href="https://www.apple.com/ge/" hreflang="en-GE" rel="alternate"/
><link href="https://www.apple.com/gn/" hreflang="fr-GN" rel="alternate"/
><link href="https://www.apple.com/gq/" hreflang="fr-GQ" rel="alternate"/
><link href="https://www.apple.com/gr/" hreflang="el-GR" rel="alternate"/
><link href="https://www.apple.com/gw/" hreflang="en-GW" rel="alternate"/
><link href="https://www.apple.com/hk/" hreflang="zh-HK" rel="alternate"/
><link href="https://www.apple.com/hk/en/" hreflang="en-HK" rel="alternate"/
><link href="https://www.apple.com/hr/" hreflang="hr-HR" rel="alternate"/
><link href="https://www.apple.com/hu/" hreflang="hu-HU" rel="alternate"/
><link href="https://www.apple.com/id/" hreflang="en-ID" rel="alternate"/
><link href="https://www.apple.com/ie/" hreflang="en-IE" rel="alternate"/
><link href="https://www.apple.com/il/" hreflang="en-IL" rel="alternate"/
><link href="https://www.apple.com/in/" hreflang="en-IN" rel="alternate"/
><link href="https://www.apple.com/it/" hreflang="it-IT" rel="alternate"/
><link href="https://www.apple.com/jo-ar/" hreflang="ar-JO" rel="alternate"/
><link href="https://www.apple.com/jo/" hreflang="en-JO" rel="alternate"/
><link href="https://www.apple.com/jp/" hreflang="ja-JP" rel="alternate"/
><link href="https://www.apple.com/ke/" hreflang="en-KE" rel="alternate"/
><link href="https://www.apple.com/kg/" hreflang="en-KG" rel="alternate"/
><link href="https://www.apple.com/kr/" hreflang="ko-KR" rel="alternate"/
><link href="https://www.apple.com/kw-ar/" hreflang="ar-KW" rel="alternate"/
><link href="https://www.apple.com/kw/" hreflang="en-KW" rel="alternate"/
><link href="https://www.apple.com/kz/" hreflang="en-KZ" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-HN" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-AR" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-SV" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-DO" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-EC" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-GT" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-PE" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-BO" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-NI" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-VE" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-PA" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-CR" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-UY" rel="alternate"/
><link href="https://www.apple.com/la/" hreflang="es-PY" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-AG" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-BS" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-TC" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-TT" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-SR" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-BM" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-BB" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-BZ" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-GD" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-KY" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-LC" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-MS" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-KN" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-AI" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-VC" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-GY" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-VG" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-DM" rel="alternate"/
><link href="https://www.apple.com/lae/" hreflang="en-JM" rel="alternate"/
><link href="https://www.apple.com/li/" hreflang="de-LI" rel="alternate"/
><link href="https://www.apple.com/lt/" hreflang="lt-LT" rel="alternate"/
><link href="https://www.apple.com/lu/" hreflang="fr-LU" rel="alternate"/
><link href="https://www.apple.com/lv/" hreflang="lv-LV" rel="alternate"/
><link href="https://www.apple.com/ma/" hreflang="fr-MA" rel="alternate"/
><link href="https://www.apple.com/md/" hreflang="en-MD" rel="alternate"/
><link href="https://www.apple.com/me/" hreflang="en-ME" rel="alternate"/
><link href="https://www.apple.com/mg/" hreflang="en-MG" rel="alternate"/
><link href="https://www.apple.com/mk/" hreflang="en-MK" rel="alternate"/
><link href="https://www.apple.com/ml/" hreflang="fr-ML" rel="alternate"/
><link href="https://www.apple.com/mo/" hreflang="zh-MO" rel="alternate"/
><link href="https://www.apple.com/mt/" hreflang="en-MT" rel="alternate"/
><link href="https://www.apple.com/mu/" hreflang="fr-MU" rel="alternate"/
><link href="https://www.apple.com/mx/" hreflang="es-MX" rel="alternate"/
><link href="https://www.apple.com/my/" hreflang="en-MY" rel="alternate"/
><link href="https://www.apple.com/mz/" hreflang="en-MZ" rel="alternate"/
><link href="https://www.apple.com/ne/" hreflang="fr-NE" rel="alternate"/
><link href="https://www.apple.com/ng/" hreflang="en-NG" rel="alternate"/
><link href="https://www.apple.com/nl/" hreflang="nl-NL" rel="alternate"/
><link href="https://www.apple.com/no/" hreflang="no-NO" rel="alternate"/
><link href="https://www.apple.com/nz/" hreflang="en-NZ" rel="alternate"/
><link href="https://www.apple.com/om-ar/" hreflang="ar-OM" rel="alternate"/
><link href="https://www.apple.com/om/" hreflang="en-OM" rel="alternate"/
><link href="https://www.apple.com/ph/" hreflang="en-PH" rel="alternate"/
><link href="https://www.apple.com/pl/" hreflang="pl-PL" rel="alternate"/
><link href="https://www.apple.com/pt/" hreflang="pt-PT" rel="alternate"/
><link href="https://www.apple.com/qa-ar/" hreflang="ar-QA" rel="alternate"/
><link href="https://www.apple.com/qa/" hreflang="en-QA" rel="alternate"/
><link href="https://www.apple.com/ro/" hreflang="ro-RO" rel="alternate"/
><link href="https://www.apple.com/sa-ar/" hreflang="ar-SA" rel="alternate"/
><link href="https://www.apple.com/sa/" hreflang="en-SA" rel="alternate"/
><link href="https://www.apple.com/se/" hreflang="sv-SE" rel="alternate"/
><link href="https://www.apple.com/sg/" hreflang="en-SG" rel="alternate"/
><link href="https://www.apple.com/si/" hreflang="en-SI" rel="alternate"/
><link href="https://www.apple.com/sk/" hreflang="sk-SK" rel="alternate"/
><link href="https://www.apple.com/sn/" hreflang="fr-SN" rel="alternate"/
><link href="https://www.apple.com/th/" hreflang="th-TH" rel="alternate"/
><link href="https://www.apple.com/tj/" hreflang="en-TJ" rel="alternate"/
><link href="https://www.apple.com/tm/" hreflang="en-TM" rel="alternate"/
><link href="https://www.apple.com/tn/" hreflang="fr-TN" rel="alternate"/
><link href="https://www.apple.com/tr/" hreflang="tr-TR" rel="alternate"/
><link href="https://www.apple.com/tw/" hreflang="zh-TW" rel="alternate"/
><link href="https://www.apple.com/ua/" hreflang="uk-UA" rel="alternate"/
><link href="https://www.apple.com/ug/" hreflang="en-UG" rel="alternate"/
><link href="https://www.apple.com/uk/" hreflang="en-GB" rel="alternate"/
><link href="https://www.apple.com/uz/" hreflang="en-UZ" rel="alternate"/
><link href="https://www.apple.com/vn/" hreflang="vi-VN" rel="alternate"/
><link href="https://www.apple.com/za/" hreflang="en-ZA" rel="alternate"/
>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/
>
<link href="assets/globalheader_d08709482e48.css" rel="stylesheet" type="text/css"/
>
<link href="assets/ac-globalfooter_a9432a322779.css" rel="stylesheet" type="text/css"/
>
<link href="assets/ac-localnav_7321ad5de109.css" rel="stylesheet" type="text/css"/
>
<title
>Apple</title
>
<meta content="Apple - Index/Tab" property="analytics-track"/
>
<meta content="homepage" property="analytics-s-channel"/
>
<meta content="applestoreww" property="analytics-s-bucket-0"/
>
<meta content="applestoreww" property="analytics-s-bucket-1"/
>
<meta content="applestoreww" property="analytics-s-bucket-2"/
>
<meta content="Discover the innovative world of Apple and shop everything iPhone, iPad, Apple Watch, Mac, and Apple TV, plus explore accessories, entertainment, and expert device support." name="Description"/
>
<meta content="Apple" property="og:title"/
>
<meta content="Discover the innovative world of Apple and shop everything iPhone, iPad, Apple Watch, Mac, and Apple TV, plus explore accessories, entertainment, and expert device support." property="og:description"/
>
<meta content="https://www.apple.com/" property="og:url"/
>
<meta content="en_US" property="og:locale"/
>
<meta content="assets/open_graph_logo_843c76fc9199.png" property="og:image"/
>
<meta content="website" property="og:type"/
>
<meta content="Apple" property="og:site_name"/
>
<link href="assets/fonts_861a2ff04d8a.css" media="all" rel="stylesheet" type="text/css"/
>
<link href="assets/main_0cd286fbb449.css" rel="stylesheet" type="text/css"/
>
<script charset="utf-8" src="assets/head_51d2a475e88d.js" type="text/javascript"
></script
>
<style data-scroll-fix="true"
>
        /* Scroll fixes for offline viewing */
        html, body {
            overflow: auto !important;
            overflow-x: hidden !important;
            height: auto !important;
            min-height: 100% !important;
            scroll-behavior: auto !important;
            opacity: 1 !important;
            visibility: visible !important;
        }
        
        /* Force visibility - many sites use JS animations for initial display */
        body, .wrapper, main, #__next, #app, .page, .content {
            opacity: 1 !important;
            visibility: visible !important;
            transform: none !important;
        }
        
        /* Disable loader/preloader overlays */
        .loader, .preloader, .loading, [class*="loader"], [class*="preloader"] {
            display: none !important;
            opacity: 0 !important;
        }
        
        /* Show elements that might be hidden for animation */
        .word-inner, .char, .line, [data-aos], [data-scroll],
        .hero-text span, .hero-fade, [class*="hero"] span {
            opacity: 1 !important;
            transform: none !important;
            visibility: visible !important;
        }
        
        /* Reset Tailwind animation utility classes */
        .translate-y-full, .translate-x-full, .-translate-y-full, .-translate-x-full,
        .translate-y-1\/2, .-translate-y-1\/2, .translate-y-\[100\%\], .translate-y-\[110\%\] {
            transform: none !important;
        }
        
        /* Force visibility on common hidden-for-animation patterns */
        .opacity-0, [class*="opacity-0"] {
            opacity: 1 !important;
        }
        
        /* Reset scale transforms used for animations */
        .scale-0, .scale-50, .scale-75 {
            transform: none !important;
        }
        
        html.lenis, html.lenis-smooth, 
        body.lenis, body.lenis-smooth,
        .lenis-wrapper, .lenis-content,
        [data-lenis-prevent], [data-scroll-container] {
            overflow: visible !important;
            height: auto !important;
        }
        
        /* Fix flex containers that might cut off content */
        body.flex.items-center,
        body.flex.justify-center {
            align-items: flex-start !important;
            min-height: 100vh;
            height: auto !important;
        }
        
        /* Ensure main content scrolls */
        main, #__next, #__nuxt, #app, .main-content {
            overflow: visible !important;
            height: auto !important;
        }
        </style
></head
>
<body class="page-home ac-nav-overlap globalnav-scrim globalheader-light" data-anim-scroll-group="body" style="scroll-behavior: auto;"
>
<h1 class="visuallyhidden"
>Apple</h1
>
<meta content="SFX9YPYY9PPXCU9KH" name="globalnav-store-key"/
>
<div id="globalheader"
><aside class="globalmessage-segment" dir="ltr" id="globalmessage-segment" lang="en-US"
><ul class="globalmessage-segment-content" data-strings='{"view":"{%STOREFRONT%} Store Home","segments":{"smb":"Business Store Home","eduInd":"Education Store Home","other":"Store Home"},"exit":"Exit"}'
></ul
></aside
><nav aria-label="Global" class="globalnav js" data-analytics-activitymap-region-id="global nav" data-analytics-element-engagement-end="globalnav:onFlyoutClose" data-analytics-element-engagement-start="globalnav:onFlyoutOpen" data-analytics-region="global nav" data-store-api="/[storefront]/shop/bag/status" dir="ltr" id="globalnav" lang="en-US" style="--r-globalnav-text-zoom-scale: 1;"
><div class="globalnav-content"
><div class="globalnav-item globalnav-menuback"
><button aria-label="Main menu" class="globalnav-menuback-button"
><span class="globalnav-chevron-icon"
><svg height="48" viewbox="0 0 9 48" width="9" xmlns="http://www.w3.org/2000/svg"
><path d="m1.5618 24.0621 6.5581-6.4238c.2368-.2319.2407-.6118.0088-.8486-.2324-.2373-.6123-.2407-.8486-.0088l-7 6.8569c-.1157.1138-.1807.2695-.1802.4316.001.1621.0674.3174.1846.4297l7 6.7241c.1162.1118.2661.1675.4155.1675.1577 0 .3149-.062.4326-.1846.2295-.2388.2222-.6187-.0171-.8481z"
></path
></svg
></span
></button
></div
><ul class="globalnav-list" id="globalnav-list"

<li class='globalnav-item'><a class='globalnav-link' href='#hero'><span class='globalnav-link-text'>Hero</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#typography'><span class='globalnav-link-text'>Typography</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#colors'><span class='globalnav-link-text'>Colors &amp; Surfaces</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#components'><span class='globalnav-link-text'>UI Components</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#layout'><span class='globalnav-link-text'>Layout &amp; Spacing</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#motion'><span class='globalnav-link-text'>Motion &amp; Interaction</span></a></li>
<li class='globalnav-item'><a class='globalnav-link' href='#icons'><span class='globalnav-link-text'>Icons</span></a></li>
</ul></div></nav></div><main class='main' role='main'>

<div class='section-heading' id='hero'><h2 class='typography-headline'>0) Hero</h2><p class='typography-body'>Extraction of the main Apple hero landing section.</p></div>
<section class="homepage-section collection-module" data-analytics-region="hero" data-module-template="heroes"
>
<div data-analytics-section-engagement="name:hero-iphone-family" data-unit-id="iphone-family"
>
<div class="module-content"
>
<div class="unit-wrapper"
>
<a aria-hidden="true" class="unit-link" data-analytics-region="learn more" href="#" rel="follow" tabindex="-1" target="_self"
>Â </a
>
<div class="unit-copy-wrapper"
>
<h2 class="headline"
>iPhone</h2
>
<p class="subhead"
>Meet the latest iPhone lineup.</p
>
<div class="cta-links"
>
<a aria-label="Learn more, iPhone" class="button button-elevated button-primary" data-analytics-region="learn more" data-analytics-title="learn more - iphone" href="#" rel="follow" target="_self"
>Learn more</a
>
<a aria-label="Shop iPhone" class="button button-elevated button-tertiary" data-analytics-region="shop" data-analytics-title="shop iphone" href="#" rel="follow" target="_self"
>Shop iPhone</a
>
</div
>
</div
>
<div class="unit-image-wrapper"
>
<figure aria-label="iPhone 17 Pro, back exterior, deep blue color, Pro Fusion camera system in top left corner, Apple logo in center, iPhone 17, back exterior, white color, Dual Fusion camera system in top left corner, Apple logo in center, iPhone 17e, back exterior, soft pink color, Fusion camera system in top left corner, Apple logo in center, iPhone Air, side, titanium frame profile, Fusion camera system in top left corner" class="unit-image unit-image-iphone-family-hero-iphone-family" role="img"
>
</figure
>
</div
>
</div
>
</div
>
</div
>
<div data-analytics-section-engagement="name:hero-macbook-neo" data-unit-id="macbook-neo"
>
<div class="module-content"
>
<div class="unit-wrapper"
>
<a aria-hidden="true" class="unit-link" data-analytics-region="learn more" href="#" rel="follow" tabindex="-1" target="_self"
>Â </a
>
<div class="unit-copy-wrapper"
>
<h2 class="headline"
>MacBook Neo</h2
>
<p class="subhead"
>Amazing Mac. Surprising price.</p
>
<div class="cta-links"
>
<a aria-label="Learn more, MacBook Neo 13-inch" class="button button-elevated" data-analytics-region="learn more" data-analytics-title="learn more - macbook neo 13-inch" href="#" rel="follow" target="_self"
>Learn more</a
>
<a aria-label="Buy, MacBook Neo 13-inch" class="button button-elevated button-tertiary" data-analytics-region="buy" data-analytics-title="buy - macbook neo 13-inch" href="#" rel="follow" target="_self"
>Buy</a
>
</div
>
</div
>
<div class="unit-image-wrapper"
>
<figure aria-label="MacBook Neo in bright citrus color, balanced on fingertips of open hand, screen displaying colorful abstract pattern" class="unit-image unit-image-macbook-neo-hero-macbook-neo" role="img"
>
</figure
>
</div
>
</div
>
</div
>
</div
>
<div data-analytics-section-engagement="name:hero-ipad-air-m4" data-unit-id="ipad-air-m4"
>
<div class="module-content"
>
<div class="unit-wrapper"
>
<a aria-hidden="true" class="unit-link" data-analytics-region="learn more" href="#" rel="follow" tabindex="-1" target="_self"
>Â </a
>
<div class="unit-copy-wrapper"
>
<h2 class="logo-image logo-image-ipad-air-m4-hero-logo-ipad-air headline"
><span class="visuallyhidden"
>iPad Air</span
></h2
>
<p class="subhead"
>Now supercharged by M4.</p
>
<div class="cta-links"
>
<a aria-label="Learn more, iPad Air" class="button button-elevated" data-analytics-region="learn more" data-analytics-title="learn more - ipad air" href="#" rel="follow" target="_self"
>Learn more</a
>
<a aria-label="Buy, iPad Air" class="button button-elevated button-tertiary" data-analytics-region="buy" data-analytics-title="buy - ipad air" href="#" rel="follow" target="_self"
>Buy</a
>
</div
>
</div
>
<div class="unit-image-wrapper"
>
<figure aria-label="iPad Air models floating, back exterior, single-lens camera, front exterior, rounded corners, black display bezel" class="unit-image unit-image-ipad-air-m4-hero-ipad-air-m4" role="img"
>
</figure
>
</div
>
</div
>
</div
>
</div
>
</section
>
<section id="typography" class="homepage-section" style="padding: 100px 20px;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">1) Typography</h2>
      <p class="subhead">Core typographical styles extracted from the reference CSS classes.</p>
    </div>
    
    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase; letter-spacing: .01em;">Headline (.headline)</p>
      <h2 class="headline">Design System Headline</h2>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Subhead (.subhead)</p>
      <p class="subhead">Design System Subhead Text. This is used under headlines.</p>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Global Nav Link (.globalnav-link)</p>
      <a href="#" class="globalnav-link" style="display:inline-block; font-size: 12px;">Global Nav Link</a>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Footer Title (.ac-gf-directory-column-section-title)</p>
      <span class="ac-gf-directory-column-section-title">Footer Section Title</span>
    </div>
  </div>
</section>

<section id="colors" class="homepage-section" style="padding: 100px 20px; background-color: #f5f5f7;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">2) Colors & Surfaces</h2>
      <p class="subhead">Core color palettes used for backgrounds, text, and active states.</p>
    </div>
    
    <div style="display: flex; gap: 20px; flex-wrap: wrap;">
      <!-- White Surface -->
      <div style="width: 250px; height: 180px; background-color: #ffffff; border-radius: 18px; box-shadow: 0 4px 20px rgba(0,0,0,0.05); padding: 20px; display: flex; flex-direction: column; justify-content: flex-end;">
        <p class="subhead" style="margin: 0; font-size: 17px; font-weight: 600;">Surface Primary</p>
        <p style="color: #86868b; font-size: 14px; margin-top: 5px;">#ffffff / Page Background</p>
      </div>

      <!-- Light Gray Surface -->
      <div style="width: 250px; height: 180px; background-color: #f5f5f7; border-radius: 18px; padding: 20px; border: 1px solid #d2d2d7; display: flex; flex-direction: column; justify-content: flex-end;">
        <p class="subhead" style="margin: 0; font-size: 17px; font-weight: 600;">Surface Secondary</p>
        <p style="color: #86868b; font-size: 14px; margin-top: 5px;">#f5f5f7 / Component Fill</p>
      </div>

      <!-- Dark Surface -->
      <div style="width: 250px; height: 180px; background-color: #000000; border-radius: 18px; padding: 20px; display: flex; flex-direction: column; justify-content: flex-end;">
        <p class="subhead" style="margin: 0; font-size: 17px; color: #f5f5f7; font-weight: 600;">Surface Dark</p>
        <p style="color: #86868b; font-size: 14px; margin-top: 5px;">#000000 / Text & Fills</p>
      </div>

      <!-- Blue Accent -->
      <div style="width: 250px; height: 180px; background-color: #0066cc; border-radius: 18px; padding: 20px; display: flex; flex-direction: column; justify-content: flex-end;">
        <p class="subhead" style="margin: 0; font-size: 17px; color: #ffffff; font-weight: 600;">Accent Blue</p>
        <p style="color: rgba(255,255,255,0.8); font-size: 14px; margin-top: 5px;">#0066cc / Links & CTA</p>
      </div>
      
      <!-- Text Primary Secondary -->
      <div style="width: 250px; height: 180px; background-color: #ffffff; border-radius: 18px; padding: 20px; border: 1px solid #d2d2d7; display: flex; flex-direction: column; justify-content: flex-end;">
        <p class="subhead" style="margin: 0; font-size: 17px; color: #1d1d1f; font-weight: 600;">Text Primary</p>
        <p style="color: #86868b; font-size: 14px; margin-top: 5px;">#1d1d1f / #86868b</p>
      </div>
    </div>
  </div>
</section>
<section id="components" class="homepage-section" style="padding: 100px 20px;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">3) UI Components</h2>
      <p class="subhead">Buttons, Links, and Core UI Elements.</p>
    </div>
    
    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Primary Button (.button .button-elevated .button-primary)</p>
      <a href="#" class="button button-elevated button-primary" style="display:inline-block;">Learn more</a>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Tertiary Button (.button .button-elevated .button-tertiary)</p>
      <a href="#" class="button button-elevated button-tertiary" style="display:inline-block;">Buy Product</a>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">CTA Links Group (.cta-links)</p>
      <div class="cta-links" style="justify-content: flex-start; margin-top:0;">
        <a href="#" class="button button-elevated button-primary">Learn more</a>
        <a href="#" class="button button-elevated button-tertiary">Buy</a>
      </div>
    </div>
  </div>
</section>

<section id="layout" class="homepage-section" style="padding: 100px 20px; background-color: #f5f5f7;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">4) Layout & Spacing</h2>
      <p class="subhead">Core containers and grid structures.</p>
    </div>
    
    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Module Content (.module-content)</p>
      <div class="module-content" style="background-color: #e8e8ed; height: 100px; border-radius: 12px; display: flex; align-items: center; justify-content: center;">
        <span style="color: #86868b; font-weight: 600;">Max-Width Container (Responsive)</span>
      </div>
    </div>

    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Unit Wrapper (.unit-wrapper)</p>
      <div class="unit-wrapper" style="background-color: #e8e8ed; height: 100px; border-radius: 12px; display: flex; align-items: center; justify-content: center; position: relative;">
        <span style="color: #86868b; font-weight: 600;">Wrapper establishing relative positioning for heroes</span>
      </div>
    </div>
  </div>
</section>

<section id="motion" class="homepage-section" style="padding: 100px 20px;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">5) Motion & Interaction</h2>
      <p class="subhead">Interactive hover states seamlessly integrated into buttons.</p>
    </div>
    
    <div style="margin-bottom: 40px;">
      <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Hover interactions</p>
      <a href="#" class="button button-elevated button-primary" style="display:inline-block; margin-right: 15px;">Hover me (Scale effect)</a>
      <a href="#" class="button button-elevated button-tertiary" style="display:inline-block;">Hover me (Border effect)</a>
    </div>
  </div>
</section>

<section id="icons" class="homepage-section" style="padding: 100px 20px; background-color: #f5f5f7;">
  <div class="module-content">
    <div style="margin-bottom: 40px; border-bottom: 1px solid #d2d2d7; padding-bottom: 20px;">
      <h2 class="headline" style="font-size: 48px;">6) Icons</h2>
      <p class="subhead">Standard native SVGs used in the design system.</p>
    </div>
    
    <div style="display: flex; gap: 40px; margin-bottom: 40px;">
      <div>
        <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Brand Mark</p>
        <span class="globalnav-image-regular globalnav-link-image" style="background: #1d1d1f; padding:20px; border-radius: 18px; display: inline-flex;"><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z" fill="#fff"></path></svg></span>
      </div>
      <div>
        <p style="color: #86868b; margin-bottom: 10px; font-weight: 600; font-size: 12px; text-transform: uppercase;">Chevron Down</p>
        <span class="globalnav-link-chevron" style="background: #1d1d1f; padding:20px; border-radius: 18px; display: inline-flex;"><svg height="48" viewBox="0 0 9 48" width="9" xmlns="http://www.w3.org/2000/svg"><path d="m8.1155 30.358a.6.6 0 1 1 -.831.8653l-7-6.7242a.6.6 0 0 1 -.0045-.8613l7-6.8569a.6.6 0 1 1 .84.8574l-6.5582 6.4238z" fill="#fff"></path></svg></span>
      </div>
    </div>
  </div>
</section>
</main></body></html>
